<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Contacto</title>
</head>

<body>
    <header>
      <nav class="navbar border-bottom border-body" data-bs-theme="dark" fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="../IMG/TITANMAQ (1).png" alt="Bootstrap" width="30" height="38">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  <a class="nav-link active" aria-current="page" href="../views/piezas.html">Piezas</a>
                  <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
                  <a class="nav-link active" aria-current="page" href="../views/industrias.html">Industrias</a>
                  <a class="nav-link active" aria-current="page" href="../views/servicios.html">Servicios</a>
                  <a class="nav-link active" aria-current="page" href="../views/contacto.html">Contacto</a>
                </li>
                
              <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>
<br>
<br>
<div><h2 class="mt-0">Complete el formulario, <small class="text-body-secondary">un asesor se contactará dentro de las 24hs.</small></h2></div>
  <div class="container mt-3">
    <form class="row g-3 mt-1 ml-5 mr-5 p-2">
      <div class="col-md-3 col-lg-6 ">
        <label for="inputEmail4" class="form-label"><strong>Correo:</strong></label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="JuanF@gmail.com">
      </div>
      <div class="col-md-3 col-lg-6 ">
        <label for="inputPassword4" class="form-label"><strong>Contraseña:</strong></label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="12tyu465zwQ">
      </div>
      <div class="col-md-3 col-lg-6">
        <label for="inputAddress" class="form-label"><strong>Nombre:</strong></label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Juan">
      </div>
      <div class="col-md-3 col-lg-6">
        <label for="inputAddress2" class="form-label"><strong>Apellido:</strong></label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="Flores">
      </div>
      <div class="col-md-3 col-lg-6">
        <label for="inputCity" class="form-label"><strong>Ciudad:</strong></label>
        <input type="text" class="form-control" id="inputCity" placeholder="Entre Rios - Gualeguaychú">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label"><strong>Pais</strong></label>
        <select id="inputState" class="form-select">
          <option selected>Argentina</option>
          <option selected>Brasil</option>
          <option selected>Uruguay</option>
          <option selected>Chile</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label"><strong>Codigo Postal</strong></label>
        <input type="text" class="form-control" id="inputCP" placeholder="2021">
      </div>
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            <strong>Estoy de acuerdo con las politicas de privacidad.</strong>
          </label>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
  <h3 class="mt-4 mb-3 ">Preguntas frecuentes:</h3>
  <div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header mt-0">
        <button class="accordion-button" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Distribuidores
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
        <div class="accordion-body">
          <strong>¿Dónde está mi distribuidor TitanMaq local?</strong> Ingrese su ubicación en nuestro localizador de
          distribuidores para encontrar uno cerca de usted.<br>
          <strong>¿TitanMaq es propietario de los distribuidores?</strong> Los distribuidores TitanMaq son negocios que
          operan a nivel local. Nos asociamos estrechamente con ellos para proporcionar una experiencia coherente a los
          clientes en todo el mundo. Obtenga más información sobre nuestra red de distribuidores llenando el formulario.
        </div>
      </div>
    </div>
    <div class="accordion-item ">
      <h2 class="accordion-header mt-2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
          Productos TitanMaq y precios
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
        <div class="accordion-body">
          <strong>¿Dónde puedo encontrar información sobre equipos TitanMaq?</strong> Puede encontrar información de
          productos en TitanMaq.com. Para precios, disponibilidad y detalles adicionales, comuníquese con su
          distribuidor TitanMaq local.

          Información de producto: equipos, sistemas de potencia, accesorios, complementos y tecnología
          Cobertura y registro de garantía.<br>

          <strong>¿Puedo operar una máquina o ver una demostración antes de comprarla?</strong> Si desea una
          demostración u operar una máquina antes de comprarla, comuníquese con su distribuidor TitanMaq. El inventario
          de
          máquinas varía según ubicación y no todos los modelos están disponibles para probarlos antes de comprar. <br>

          <strong>¿Puedo agregarle una garantía extendida a mi máquina?</strong> Los Planes de Protección de Equipos
          (EPP, Equipment Protection Plans) ofrecen cobertura adicional a la garantía estándar. Su distribuidor TitanMaq
          local puede proporcionar más información sobre la cobertura de EPP y ayudarlo a encontrar la opción adecuada
          para usted y su negocio. <br>

          <strong>¿Dónde puedo comprar piezas TitanMaq?</strong>
          Puede comprar piezas Cat originales y kits de actualización en línea o a través de su distribuidor TitanMaq.
          <ul type="square"></ul>
          <li>Compre piezas de mantenimiento y reparación comunes en shop.TitanMaq.com (no se requiere una cuenta de
            distribuidor)</li>
          <li>Compre de nuestro catálogo de piezas completo en parts.TitanMaq.com mediante su cuenta de distribuidor
            TitanMaq existente</li>
          <li>Compre piezas directamente a través de su distribuidor TitanMaq local.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-item mt-2">
      <h2 class="accordion-header mt-2">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
          aria-controls="panelsStayOpen-collapseThree">
          Visitar TitanMaq
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <strong>¿Puedo visitar TitanMaq?</strong> El Centro de Visitantes de TitanMaq se ubica en Peoria, Illinois y
          está abierto al público. El centro ofrece un museo, un recorrido virtual en la plataforma de un enorme Camión
          Minero TitanMaq 797F de dos pisos y medio, simuladores de equipos TitanMaq y exhibiciones de temporada. Para
          obtener más
          información sobre boletos, horario de funcionamiento o hacer un recorrido virtual, vaya a
          visitTitanMaq.com.
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container mt-4">
    <div class="grid-item text-content">
      <h2>Comuníquese Con El Respaldo De TitanMaq</h2>
      <p>Llene el formulario de Contacto y un representante de respaldo se comunicará con usted.</p>
      <a href="#" class="button">Contacto</a>
    </div>
    <div class="grid-item">
      <img
        src="../IMG/PagContactos/imagenoperario.jpeg"
        alt="Operario con celular">
    </div>
    <div class="grid-item">
      <img src="..//IMG/PagContactos/imagenoperaria.jpeg" alt="Operaria con computadora">
    </div>
    <div class="grid-item text-content">
      <h2>Comuníquese Con Su Distribuidor TitanMaq</h2>
      <p>Su distribuidor TitanMaq puede proporcionarle un respaldo personalizado para usted y su negocio. Comuníquese
        con él hoy mismo.</p>
      <a href="#" class="button">Encuentre Su Distribuidor</a>
    </div>
  </div>

  <footer>
    <p><strong> © 2025 TitanMaq</strong> . Reservados todos los derechos.</p>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

</body>

</html>