<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/CSS/styles.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="shortcut icon" href="../IMG/Favicon.svg" type="image/x-icon">
  <title>Piezas</title>
</head>

<body>

  <header>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../IMG/TITANMAQ (1).png" alt="Bootstrap" width="40" height="40">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="../index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="../views/piezas.html">Piezas</a></li>
            <li class="nav-item"><a class="nav-link" href="../views/productos.html">Productos</a></li>
            <li class="nav-item"><a class="nav-link" href="../views/industrias.html">Industrias</a></li>
            <li class="nav-item"><a class="nav-link" href="../views/servicios.html">Servicios</a></li>
            <li class="nav-item"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Menú
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="../index.html">Inicio</a></li>
                <li><a class="dropdown-item" href="../views/piezas.html">Piezas</a></li>
                <li><a class="dropdown-item" href="../views/productos.html">Productos</a></li>
                <li><a class="dropdown-item" href="../views/industrias.html">Industrias</a></li>
                <li><a class="dropdown-item" href="../views/servicios.html">Servicios</a></li>
                <li><a class="dropdown-item" href="../views/contacto.html">Contacto</a></li>
              </ul>
            </li>
          </ul>

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

  <img class="imagenP" src="../IMG/PagPiezas/imagenPiezas.png" alt="Imagen de una máquina">

  <h2 class="mt-4"><strong>Encuentre las piezas y los recursos para hacer el trabajo</strong></h2>

  <h3>Agregue su equipo en el siguiente formulario para encontrar piezas adecuadas.</h3>

  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
    <form class="formP mt-4" action="/submit" method="post">
      <h3>Por número de serie o por modelo</h3>

      <label for="serie">Ingrese número de serie:</label>
      <input type="text" name="serie" id="serie" placeholder="Ejemplo: 12345XYZ" required>

      <label for="modelo">Ingrese modelo de su equipo:</label>
      <input type="text" name="modelo" id="modelo" placeholder="Ejemplo: TitanMaq D6" required>

      <label for="pais">País:</label>
      <select name="pais" id="pais" required>
        <option value="" disabled selected>Seleccione su país</option>
        <option value="Argentina">Argentina</option>
        <option value="Brasil">Brasil</option>
        <option value="Uruguay">Uruguay</option>
        <option value="Chile">Chile</option>
      </select>

      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="ejemplo@correo.com" required>

      <input type="submit" value="Enviar">
    </form>
  </div>

  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="container-piezas">
    <h2>¿Por qué elegir piezas originales?</h2>
    <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" class="cards-piezas">
      <div class="card">
        <h3>Fabricadas para durar</h3>
        <p>Encuentre las piezas adecuadas en el momento adecuado, en cualquier momento. Todas las piezas están cubiertas
          por una garantía de 12 meses.</p>
      </div>
      <div class="card">
        <h3>Entrega rápida</h3>
        <p>Obtenga sus piezas rápidamente con nuestras múltiples opciones de entrega.</p>
      </div>
      <div class="card">
        <h3>Opciones de pago</h3>
        <p>Ofrecemos una variedad de formas de pago, incluidas opciones de pago seguras para todos los clientes en todo
          el mundo.</p>
      </div>
    </div>
  </div>




  <br>
  <footer>
    <p><strong> © 2025 TitanMaq</strong> . Reservados todos los derechos.</p>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</body>

</html>