<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Productos</title>
</head>

<body>

    <header>
        <nav class="navbar border-bottom border-body" data-bs-theme="dark" fixed-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="../IMG/TITANMAQ (1).png" alt="Bootstrap" width="30" height="38">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                      <a class="nav-link active" aria-current="page" href="../views/piezas.html">Piezas</a>
                      <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
                      <a class="nav-link active" aria-current="page" href="../views/industrias.html">Industrias</a>
                      <a class="nav-link active" aria-current="page" href="../views/servicios.html">Servicios</a>
                      <a class="nav-link active" aria-current="page" href="../views/contacto.html">Contacto</a>
                    </li>

                  <form class="d-flex mt-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                  </form>
                </div>
              </div>
            </div>
          </nav>
    </header>

    <section class="contenedor-productos">
        <h2 class="h2-productos">Camiones Articulados</h2>
        <p class="parrafo-productos">Los camiones articulados transportan un amplio espectro de materiales en distintas
            aplicaciones y condiciones del suelo. El simple funcionamiento y la comodidad de estilo automotriz, así como
            la combinación de puntos de servicio e intervalos prolongados de servicio de estos camiones de descarga le
            permiten enfocarse en su trabajo y perder menos tiempo y dinero en realizar el mantenimiento.</p>

        <div class="productos-grid">
            <div class="producto">
                <img class="imagenc" src="../IMG/PagProductos/imagenProductos.jpg" alt="Chasis sin Accesorios 725">
                <h3>Chasis sin Accesorios 725</h3>
                <p> 
                    Distancia entre ejes estándar: 3979 mm<br>
                    Carga útil nominal: 27.6 t<br>
                    Modelo de motor: TitanMaq C9.3<br>
                    Precio: Contactar al distribuidor por Precio y Disponibilidad
                </p>
            </div>

            <div class="producto">
                <img class="imagenc" src="../IMG/PagProductos/imagenProductos2.jpg" alt="Chasis sin Accesorios 745">
                <h3>Chasis sin Accesorios 745</h3>
                <p>
                    Distancia entre ejes estándar: 4590 mm<br>
                    Carga útil nominal: 49.9 t<br>
                    Modelo de motor: TitanMaq C18<br>
                    Precio: Contactar al distribuidor por Precio y Disponibilidad
                </p>
            </div>

            <div class="producto">
                <img class="imagenc" src="../IMG/PagProductos/imagenProductos3.jpg"
                    alt="Camiones articulados de tres ejes">
                <h3>Camiones articulados de tres ejes - 730 EJ</h3>
                <p>
                    Modelo de motor: TitanMaq C13<br>
                    Carga útil nominal: 27.1 t<br>
                    Colmada (SAE 2:1): 16.9 m³<br>
                    Precio: Contactar al distribuidor por Precio y Disponibilidad
                </p>
            </div>
        </div>
    </section>

    <section class="contenedor-productos">
        <h2 class="h2-productos">Compactadores</h2>
        <p class="parrafo-productos">Compactar de acuerdo con las especificaciones es muy importante para aplicaciones de
            suelos, rellenos sanitarios y pavimentación. Los compactadores TitanMaq están específicamente diseñados para
            todo tipo de operación de compactación.</p>

        <div class="productos-grid">
            <div class="producto">
                <img class="imagenc" src="../IMG/PagProductos/imagenProductos4.jpg"
                    alt="Compactadores de rellenos sanitarios 816">
                <h3>Compactadores de rellenos sanitarios 816</h3>
                <p>
                    Potencia bruta: SAE J1995:2014 - 212 kW<br>
                    Potencia neta - SAE J1349:2011 - 186 kW<br>
                    Potencia neta: ISO 9249:2007 - 186 kW<br>
                    Precio: Contactar al distribuidor por Precio y Disponibilidad
                </p>
            </div>

            <div class="producto">
                <img class="imagenc" src="../IMG/PagProductos/imagenProductos5.jpg" alt="Rodillos neumáticos CW34">
                <h3>Rodillos neumáticos CW34</h3>
                <p>
                    Peso vacío: 10000 kg<br>
                    Peso máximo con lastre: 27000 kg<br>
                    Ancho de compactación: 2090 mm<br>
                    Precio: Contactar al distribuidor por Precio y Disponibilidad
                </p>
            </div>

            <div class="producto">
                <img class="imagenc" src="../IMG/PagProductos/imagenProductos6.jpg" alt="Compactadores de suelos 815">
                <h3>Compactadores de suelos 815</h3>
                <p>
                    Potencia bruta (SAE J1995:2014): 212 kW<br>
                    Potencia neta (SAE J1349:2011): 186 kW<br>
                    Potencia neta (ISO 9249:2007): 186 kW<br>
                    Precio: Contactar al distribuidor por Precio y Disponibilidad
                </p>
            </div>
        </div>
    </section>
    

    <footer>
        <p><strong> © 2025 TitanMaq</strong> . Reservados todos los derechos.</p>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>